<article class="container footer">
  <section class="container-fluid col-sm-12">
    <details class="col-md-6">
      <summary>This footer gives all needed sources to the page,
        This website is made for educational purposes</summary>
      <p>Source:
        <a target="_blank" href="https://github.com/EeveeCreations">My Github</a>
      </p>
    </details>
  </section>
  <section id="rights" class="col-md-6">
    <p>This application was made with joy<br>
      &#169; EVCreations 2022</p>
  </section>
</article>
